<footer class="modal-card-foot">
    <form action="#" method="post" id="deleteForm">
        <input type="hidden" name="_method" value="DELETE" />
        <input type="hidden" name="_token" id="deleteToken" value="#" />

        <button class="button is-danger">Oui</button>
        <button class="button is-link" onclick="closeModal('#deleteModal', event)">Non</button>
    </form>
</footer>