<div class="modal" id="modal">
    <div class="modal-background"></div>

    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title" id="modal-title"></p>

            <button class="delete" aria-label="close" onclick="close('#modal')"></button>
        </header>

        <form action="#" method="post" id="modal-form">
            <input type="hidden" name="_token" id="modal-token" value="#" />

            <section class="modal-card-body">
                {% block modal %}{% endblock %}
            </section>

            <footer class="modal-card-foot">
                <input type="submit" name="submit" value="Valider" class="button is-link" />
            </footer>
        </form>
    </div>
</div>