<div class="modal" id="reset">
    <div class="modal-background"></div>

    <div class="modal-card" id="reset-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Demande de nouveau mot de passe</p>

            <button class="delete" aria-label="close" onclick="closeModal('#reset')"></button>
        </header>

        <form action="/reset" method="post" id="reset-form">
            <input type="hidden" name="_token" id="reset-token" value="#" />

            <section class="modal-card-body">
            {% block modal %}
            {% endblock %}
            </section>

            <footer class="modal-card-foot">
                <input type="submit" name="submit" id="reset-button" value="Valider" class="button is-success" />
            </footer>
        </form>
    </div>
</div>