{% extends 'base.html.twig' %}

{% block title "Accueil" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/pages/login.css') }}">
{% endblock %}

{% block body %}
<div class="container-fluid">
<main class="form-signin text-center">
    <form action="">
        <h1 class="h3 mb-3 fw-normal">Connectez-vous</h1>

        <div class="form-floating">
            <input type="email" name="email" id="email" class="form-control" />
            <label for="email">Adresse e-mail</label>
        </div>

        <div class="form-floating">
            <input type="password" name="password" id="password" class="form-control" />
            <label for="password">Mot de passe</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Se connecter</button>
    </form>
</main>
</div>
{% endblock %}
