{% extends 'base.html.twig' %}

{% block title "Accueil" %}

{% block body %}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <form action="{{ path('login') }}" class="box">
                        <div class="field">
                            <label for="email" class="label">Adresse e-mail</label>

                            <div class="control has-icons-left">
                                <input type="email" class="input" placeholder="e.g. rene.dupont@gmail.com" required />

                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="password" class="label">Mot de passe</label>

                            <div class="control has-icons-left">
                                <input type="password" class="input" placeholder="*******" required />

                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <button class="button is-success">Se connecter</button>
                        </div>

                        <hr />

                        <div class="block">
                            <a href="{{ path('register') }}">S'inscrire</a>
                        </div>

                        <div class="block">
                            <a href="{{ path('reset_password') }}">Mot de passe oublié ?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
