body {
    background: none;
    color: #000;
}

#wrapper {
    width: 100%;
    border: none;
    box-shadow: none;
}

header, nav, #heroImage, footer {
    display: none;
}

.newpage {
    page-break-before: always;
}