<div class="block">
{% for type, messages in app.flashes %}
    {% for message in messages %}
    <div class="notification is-{{ type }}" onclick="deleteFlash(this);">
        <button class="delete"></button>
        {{ message }}
    </div>
    {% endfor %}
{% endfor %}
</div>