<h3>Le design responsive</h3>

<p>Le design de l'application sera responsive, en s'adaptant à plusieurs tailles d'écran selon l'appareil d'un utilisateur (ordinateur, smartphone, tablette).</p>

<h3>La norme RGPD (Réglement Général de la Protection des Données)</h3>

<p>Cette norme a pour but de responsabiliser les organismes traitant des données personnelles.</p>

<p>C'est à l'origine une directive européenne, transposée en 2018 en droit français.</p>

<p>Elle permet d’encadrer le traitement et la circulation des données à caractère personnel sur le territoire européen.</p>

<p>Ce règlement est obligatoire, et indique que les données personnelles doivent être :</p>

<ul>
    <li>traitées de manière licite, loyale et transparente</li>
    <li>collectées à des fins déterminées, explicites et légitimes</li>
    <li>adéquates, pertinentes et limitées</li>
    <li>exactes et tenues à jour</li>
    <li>conservées pendant une durée raisonnable</li>
    <li>traitées de façon à garantir leur protection</li>

    Il est donc nécessaire de :
    <li>définir une personne chargée de la protection des données (l'administrateur)</li>
    <li>lister les données et leur utilité</li>
    <li>repérer les données à risques et les protéger</li>
    <li>respecter le droit des utilisateurs concernant la collecte de leurs données, leur modification et leur suppression</li>
    <li>s’assurer que les sous-traitants respectent la norme RGPD</li>
</ul>

<p>Dans le cas de cette application, les éléments suivants seront à prévoir :</p>

<ul>
    <li>une page de **Mentions Légales** rappelant à l'utilisateur ses droits concernant ses données, leur édition et leur suppression</li>
    <li>une page de **Politique de Confidentialité**</li>
    <li>la récolte d'informations essentielles et pertinentes pour un utilisateur, à savoir son pseudo et son adresse e-mail</li>
    <li>la sécurisation d'un mot de passe utilisateur avec une méthode de hachage</li>
    <li>un message d'information sur l'utilisation des cookies avec un bouton de validation</li>
</ul>

<h3>La sécurité</h3>

<p>L'application veillera à respecter certains principes de sécurité en incluant :</p>

<ul>
    <li>des protections contre certaines failles (XSS, CSRF, DDoS, injections SQL...)</li>
    <li>un système de rôles (utilisateur, modérateur, administrateur) permettant un accès à certaines pages et fonctionnalités</li>
    <li>un système de hachage des mots de passe</li>
    <li>un système de vérification d'identité, permettant à un seul utilisateur d'accéder à ses données (consultation de profil, modification et suppression des suggestions et identifiants)</li>
    <li>une page de redirection en cas d'adresse invalide (erreur 404)</li>
</ul>