<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>{% block title %}Sym CRM{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <main role="main" class="wrapper">
        {% block body %}{% endblock %}
        </main>

        <script src="{{ asset('js/bootstrap.min.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
