<div class="column">
    <div class="card has-background-grey-light">
        <header class="card-header">
            <p class="card-header-title">Derniers événements</p>
        </header>

        <div class="card-content">
            <div class="content">
                <ul>
                    <li>RDV avec Jean Dupont (26/02/2022 à 10 h 30)</li>
                    <li>RDV avec Martin Duval (26/02/2022 à 10 h 30)</li>
                    <li>RDV avec René Durand (26/02/2022 à 10 h 30)</li>
                    <li>RDV avec Michel Boulanger (26/02/2022 à 10 h 30)</li>
                    <li>RDV avec Victor Legrand (26/02/2022 à 10 h 30)</li>
                </ul>
            </div>
        </div>
    </div>
</div>