<div class="column">
    <div class="card has-background-light">
        <header class="card-header">
            <p class="card-header-title">Derniers contacts</p>
        </header>

        <div class="card-content">
            <div class="content">
                <div class="table-container">
                    <table class="table is-striped is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th class="is-narrow">Nom</th>
                                <th class="is-narrow">Type</th>
                                <th class="is-narrow">Rôle</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for contact in contacts %}
                            <tr>
                                <td class="is-narrow">{{ contact.fullName }}</td>
                                <td class="is-narrow">{{ contact.type}}</td>
                                <td class="is-narrow">{{ contact.role}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>