<div class="column">
    <div class="card has-background-grey-light">
        <header class="card-header">
            <p class="card-header-title">Derniers événements</p>
        </header>

        <div class="card-content">
            <div class="content">
                <ul>
                    {% for event in events %}
                        {% set date = event.date %}

                        <li>{{ event.title }} ({{ date | date("d/m/Y") }} à {{ date | date("H:i") }})</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>