{% for card in stats %}
<div class="column">
    <div class="card has-background-{{ card.color }}">
        <div class="card-content">
            <div class="content">
                <p class="title">{{ card.number }}</p>

                <p class="subtitle">
                {{ card.type }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endfor %}