{% extends "modals/form_modal.html.twig" %}

{% block modal %}
<div class="block">
    <p>Vous êtes sûr(e) de changer le rôle de l'utilisateur <strong id="modalName"></strong> ?</p>
</div>

<div class="field">
    <div class="select">
        <select name="role" id="role">
            {% for role in roles %}
            <option value="{{ role }}">{{ role }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}