{% extends 'base.html.twig' %}

{% block title "Liste des utilisateurs" %}

{% block stylesheets %}
<style>
a {
    margin-left: 30px;
}
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h3 class="pb-2">Liste des utilisateurs</h3>

    <div class="table-responsive align-items">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Rôle</th>
                    <th>Date d'inscription</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for index in 0..10 %}
                <tr>
                    <td>NOM PRENOM</td>
                    <td>ROLE</td>
                    <td>20/02/2022</td>

                    <td>
                        <a href="{# path('profile', { 'id' : user.id }) #}">
                            <i class="bi-eye-fill"></i>
                        </a>
                        
                        <a href="{# path('edit_user', { 'id' : user.id }) #}">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        
                        <a href="{# path('delete_user', { 'id' : user.id }) #}">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
