{% extends 'base.html.twig' %}

{% block title "Liste des utilisateurs" %}

{% block stylesheets %}
<style>
a {
    margin-left: 30px;
}
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h2 class="title">Liste des utilisateurs</h2>

    <div class="table-container">
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Rôle</th>
                    <th>Date d'inscription</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for index in 0..10 %}
                <tr>
                    <td>NOM PRENOM</td>
                    <td>ROLE</td>
                    <td>20/02/2022</td>

                    <td>
                        <a href="{# path('profile', { 'id' : user.id }) #}" class="button is-info">
                            <i class="fa fa-eye"></i>
                        </a>
                        
                        <a href="{# path('edit_user', { 'id' : user.id }) #}" class="button is-success">
                            <i class="fa fa-pencil"></i>
                        </a>
                        
                        <a href="{# path('delete_user', { 'id' : user.id }) #}" class="button is-danger">
                            <i class="fa fa-times"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
