{% extends 'modals/form_modal.html.twig' %}

{% block modal %}
<div class="field">
    <label for="fullName" class="label">Nom complet</label>
    
    <div class="control">
        <input type="text" name="fullName" id="fullName" class="input" placeholder="Ex: Jean Dupont" required minlength="2" maxlength="100" />
    </div>

    <p class="help">Entre 2 et 100 caractères</p>
</div>

<div class="field">
    <label for="email" class="label">Adresse e-mail</label>
    
    <div class="control">
        <input type="email" name="email" id="email" class="input" placeholder="Ex: jean.dupont@site.com" required />
    </div>
</div>

<div class="field">
    <label for="password" class="label">Mot de passe</label>
    
    <div class="control">
        <input type="password" name="password" id="password" class="input" placeholder="*******" required minlength="8" maxlength="32" />
    </div>

    <p class="help">8 à 32 caractères alphanumériques, avec au moins une minuscule, une majuscule et un chiffre</p>

    <p class="help is-danger" id="password_error"></p>
</div>

<div class="field">
    <label for="confirm_password" class="label">Confirmation du mot de passe</label>
    
    <div class="control">
        <input type="password" name="confirm_password" id="confirm_password" class="input" placeholder="*******" required />
    </div>

    <p class="help is-danger" id="confirm_error"></p>
</div>
{% endblock %}