{% extends 'base.html.twig' %}

{% block title "Inscription" %}

{% block body %}
<h2 class="title is-2">{{ title }}</h2>

<form action="{{ path('register') }}" method="POST">
    <div class="field">
        <label for="fullName" class="label">Nom complet</label>
        
        <div class="control">
            <input type="text" name="fullName" class="input width-25" placeholder="Ex: Jean Dupont" />
        </div>

        <p class="help">Entre 2 et 100 caractères</p>
    </div>

    <div class="field">
        <label for="email" class="label">Adresse e-mail</label>
        
        <div class="control">
            <input type="email" name="email" class="input width-25" placeholder="Ex: jean.dupont@site.com" />
        </div>
    </div>

    <div class="field">
        <label for="password" class="label">Mot de passe</label>
        
        <div class="control">
            <input type="password" name="password" class="input width-25" placeholder="*******" />
        </div>

        <p class="help">8 à 32 caractères alphanumériques, avec au moins<br /> une minuscule, une majuscule et un chiffre</p>

        <ul></ul>
    </div>

    <div class="field">
        <label for="confirm_password" class="label">Confirmation du mot de passe</label>
        
        <div class="control">
            <input type="password" name="confirm_password" class="input width-25" placeholder="*******" />
        </div>
    </div>

    {#}
    <div class="field">
        <label for="price" class="label">Prix</label>

        <div class="control">
            <input type="number" name="price" class="input width-20" value="{{ item.price ?? 0.0 }}" min="0.0" step="0.10" />
        </div>
    </div>

    #}

    <div class="field">
        <input type="submit" name="submit" value="Envoyer" class="button is-link" />
    </div>
</form>
{% endblock %}