<p class="block">Conformément à l’article 32 de la loi «Informatique et Libertés» n° 78-17 du 6 janvier 1978, modifiée par la loi n° 2004-801 du 6 août 2004, les informations personnelles (prénom, nom, numéro de téléphone, e-mail, statut social,…) recueillies via les formulaires de contact font l’objet d’un traitement informatique destiné seulement à ce que le responsable du traitement, seule destinataire des données, puisse répondre aux utilisateurs, et ce de la manière la plus appropriée, et ne seront jamais utilisées à des fins non prévues ni transmises à des partenaires et ne feront l’objet d’aucun transfert en dehors du territoire de l’Union Européenne. Aucune information personnelle autre que celles demandées dans ce cadre n’est collectée à votre insu.</p>
            
<p class="block">Les données recueillies seront conservées 38 mois :</p>

<p class="block">
– à compter de la collecte ou du dernier contact pour les prospects,<br />
– à compter de la fin de la relation commerciale pour les clients.
</p>

<p class="block">Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée, vous disposez des droits d’interrogation, d’accès, de rectification et de suppression aux informations qui vous concernent.</p>

<p class="block">Pour l’exercer, adressez-vous par courriel à : admin@app.com ou bien un courrier</p>