<p class="block has-text-weight-bold">Comment nous protégeons vos données</p>
            
<p class="block">Nous nous engageons à mettre en oeuvre toutes les mesures techniques et organisationnelles appropriées afin de garantir un niveau de sécurité adapté au regard des risques d’accès accidentels, non autorisés ou illégaux, de divulgation, d’altération, de perte ou encore de destruction des données personnelles vous concernant.</p>

<p class="block">Dans l’éventualité où nous prendrions connaissance d’un accès illégal aux données personnelles vous concernant stockées sur nos serveurs ou ceux de nos prestataires, ou d’un accès non autorisé ayant pour conséquence la réalisation des risques identifiés ci-dessus, nous nous engageons à :</p>

<p class="block">
Vous notifier l’incident dans les plus brefs délais ;<br />
Examiner les causes de l’incident et vous en informer ;<br />
Prendre les mesures nécessaires dans la limite du raisonnable afin d’amoindrir les effets négatifs et préjudices pouvant résulter dudit incident
</p>

<p class="block has-text-weight-bold">Limitation de la responsabilité</p>

<p class="block">En aucun cas les engagements définis au point ci-dessus relatif à la notification en cas de faille de sécurité ne peuvent être assimilés à une quelconque reconnaissance de faute ou de responsabilité quant à la survenance de l’incident en question.</p>