<p class="block">Vous disposez d’un droit d’accès, de modification et/ou de suppression des données vous concernant à tout moment en contactant l’éditeur du site.</p>
            
<p class="block">Le responsable du fichier dispose d’un délai de réponse maximal de 2 mois à compter de la demande. La CNIL précise : « Si la demande est incomplète (absence de la pièce d’identité par exemple), le responsable du fichier est en droit de demander des compléments : le délai est alors suspendu et court à nouveau une fois ces éléments fournis ».</p>

<p class="block">Les limites au droit d’accès sont précisées sur le site de la CNIL et consultables en cliquant ici.</p>