<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Sym CRM</strong> &copy; 2022 - 
            <a href="#mentions" onclick="openModal('mentions')">Mentions Légales</a> - 
            <a href="#policy" onclick="openModal('policy')">Politique de Confidentialité</a>
        </p>
    </div>
</footer>

{% include "legals/mentions.html.twig" %}
{% include "legals/policy.html.twig" %}