{% set path = "modals/legals/" %}

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Sym CRM</strong> &copy; 2022 - 
            <a href="#mentions" id="mentions-link" onclick="openModal('#mentions')">Mentions Légales</a> - 
            <a href="#policy" id="policy-link" onclick="openModal('#policy')">Politique de Confidentialité</a>
        </p>
    </div>
</footer>

{% include path ~ "mentions.html.twig" %}
{% include path ~ "policy.html.twig" %}