<footer class="mt-5 mb-3 text-muted text-center">
    Sym CRM &copy; 2022 - <a href="#mentions" data-bs-toggle="modal" data-bs-target="#mentions">Mentions Légales</a> - <a href="#policy" data-bs-toggle="modal" data-bs-target="#policy">Politique de Confidentialité</a>
</footer>

{% include "legals/mentions.html.twig" %}
{% include "legals/policy.html.twig" %}