<div class="block">
    <form action="#" id="searchForm">
        <div class="field">
            <input type="search" name="search" class="input width-25" placeholder="Recherche par nom" />

            <button type="submit" class="button is-link ml-10">Rechercher</button>
        </div>
    </form>
</div>