/* Widths */

.width-10 {
    width: 10%;
}

.width-20 {
    width: 20%;
}

.width-25 {
    width: 25%;
}

.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-70 {
    width: 70%;
}

.width-75 {
    width: 75%;
}

.width-80 {
    width: 80%;
}

.width-90 {
    width: 90%;
}

.width-100 {
    width: 100%;
}

/* Colors */

.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.black {
    color: black;
}

/* Backgrounds */

.has-background-info {
    background: hsla(204, 86%, 53%, 75%);
}

.has-background-success {
    background: hsla(141, 71%, 48%, 75%);
}

.has-background-danger {
    background: hsla(348, 100%, 61%, 75%);
}

.has-background-warning {
    background: hsla(48, 100%, 67%, 75%);
}

.has-background-light {
    background: hsla(0, 0%, 96%, 75%);
}

.has-background-grey-light {
    background: hsla(0, 0%, 71%, 75%);
}