<div class="modal" id="addModal">
    <div class="modal-background"></div>

    <div class="modal-card">
        <form action="/teams/new" method="post" id="addForm">
            <input type="hidden" name="_token" id="addToken" value="#" />

            <section class="modal-card-body">
                <div class="field">
                    <label for="name" class="label">Nom (*)</label>

                    <input type="text" name="name" id="name" class="input" placeholder="Ex : Equipe Jaune" required />
                </div>
            </section>

            <footer class="modal-card-foot">
                <input type="submit" name="submit" value="Valider" class="button is-link" />
            </footer>
        </form>
    </div>
</div>