<div class="modal" id="deleteTeam">
    <div class="modal-background"></div>

    <div class="modal-card">
        <section class="modal-card-body">
            <p>Vous êtes sûr(e) de supprimer l'équipe X ?</p>
        </section>

        <footer class="modal-card-foot">
            <button class="button is-danger" onclick="closeModal('deleteTeam')">Oui</button>
            <button class="button is-link" onclick="closeModal('deleteTeam')">Non</button>
        </footer>
    </div>
</div>