{% extends 'base.html.twig' %}

{% block title "Liste des équipes" %}

{% block body %}
<h2 class="title">Liste des équipes</h2>

<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Rôle</th>
                <th>Date d'inscription</th>
                <th class="is-narrow"></th>
                <th class="is-narrow"></th>
                <th class="is-narrow"></th>
            </tr>
        </thead>

        <tbody>
            {% for index in 0..10 %}
            <tr>
                <td>NOM PRENOM</td>
                <td>ROLE</td>
                <td>20/02/2022</td>

                <td>
                    <a href="{# path('profile', { 'id' : team.id }) #}" class="button is-info">
                        <i class="fa fa-eye"></i>
                    </a>
                </td>
                    
                <td>
                    <a href="{# path('edit_team', { 'id' : team.id }) #}" class="button is-success">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                    
                <td>
                    <a href="#deleteTeam" class="button is-danger" onclick="openModal('deleteTeam')">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include "teams/delete_team.html.twig" %}

{% endblock %}
