{% extends "modals/form_modal.html.twig" %}

{% block modal %}
<div class="field">
    <label for="name" class="label">Nom (*)</label>

    <div class="control">
        <input type="text" name="name" id="name" class="input" placeholder="Ex : Equipe Jaune" required />
    </div>
</div>
{% endblock %}