{% set path = "modals/legals/mentions/" %}

<div class="modal" id="mentions">
    <div class="modal-background"></div>

    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Mentions Légales</p>

            <a class="delete" name="mentions" aria-label="close" onclick="closeModal('#mentions')"></a>
        </header>

        <section class="modal-card-body">
            {% include path ~ "intro-lcen.html" %}
            
            <h3 class="subtitle">1. Informations légales :</h3>
            
            {% include path ~ "1-infos-legales.html" %}
            
            <h3 class="subtitle">2. Présentation et principe :</h3>
            
            {% include path ~ "2-presentation.html" %}
            
            <h3 class="subtitle">3. Accessibilité :</h3>
            
            {% include path ~ "3-accessibilite.html" %}
            
            <h3 class="subtitle">4. Propriété intellectuelle :</h3>
            
            {% include path ~ "4-propriete-intellectuelle.html" %}

            <h3 class="subtitle">5. Liens hypertextes et cookies :</h3>
            
            {% include path ~ "5-liens-cookies.html" %}

            <h3 class="subtitle">6. Protection des biens et des personnes &#8211; gestion des donnés personnelles :</h3>
            
            {% include path ~ "6-protection.html" %}
        </section>

        <footer class="modal-card-foot">
            <a class="button is-link" onclick="closeModal('#mentions')">Fermer</a>
        </footer>
    </div>
</div>