{% set path = "modals/legals/policy/" %}

<div class="modal" id="policy">
    <div class="modal-background"></div>

    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Politique de Confidentialité</p>

            <button class="delete" aria-label="close" onclick="closeModal('#policy')"></button>
        </header>

        <section class="modal-card-body">
            <h3 class="subtitle">Définitions</h3>

            {% include path ~ "definitions.html" %}

            <h3 class="subtitle">Nature des données collectées</h3>
            
            {% include path ~ "nature-donnees.html" %}
            
            <h3 class="subtitle">Conservation des données techniques et personnelles</h3>
            
            {% include path ~ "conservation-donnees.html" %}
            
            <h3 class="subtitle">Suppression des données après suppression du compte</h3>
            
            {% include path ~ "suppression-donnees-compte.html" %}
            
            <h3 class="subtitle">Suppression des données après 3 ans d’inactivité</h3>

            {% include path ~ "suppression-donnees-inactivite.html" %}
            
            <h3 class="subtitle">Formulaires de contact</h3>
            
            {% include path ~ "donnees-contact.html" %}
            
            <h3 class="subtitle">Cookies</h3>
            
            {% include path ~ "cookies.html" %}
            
            <h3 class="subtitle">Informations supplémentaires</h3>
            
            {% include path ~ "infos-diverses.html" %}
            
            <h3 class="subtitle">Retrait du Consentement concernant vos données personnelles</h3>
            
            {% include path ~ "retrait-consentement.html" %}
            
            <h3 class="subtitle">Modification des CGU et de la politique de confidentialité</h3>
            
            {% include path ~ "maj-cgu.html" %}
        </section>

        <footer class="modal-card-foot">
            <button class="button is-link" onclick="closeModal('#policy')">Fermer</button>
        </footer>
    </div>
</div>