<div class="modal" id="register">
    <div class="modal-background"></div>

    <div class="modal-card" id="register-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Inscription</p>

            <button class="delete" aria-label="close" onclick="closeModal('#register')"></button>
        </header>

        <form action="/register" method="post" id="register-form">
            <input type="hidden" name="_token" id="register-token" value="#" />

            <section class="modal-card-body">
            {% block modal %}
            {% endblock %}
            </section>

            <footer class="modal-card-foot">
                <input type="submit" name="submit" id="register-button" value="S'inscrire" class="button is-success" />
            </footer>
        </form>
    </div>
</div>