{% extends 'base.html.twig' %}

{% block title "Accueil" %}

{% block body %}

{% include "partials/messages.html.twig" %}

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop">
                {% block login %}
                {% endblock %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}