<div class="column">
    <div class="card has-background-grey-light">
        <header class="card-header">
            <p class="card-header-title">Derniers événements</p>
        </header>

        <div class="card-content">
            <div class="content">
                <div class="table-container">
                    <table class="table is-striped is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th class="is-narrow">Nom</th>
                                <th class="is-narrow">Date</th>
                                <th class="is-narrow">Heure</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for event in events %}
                            <tr>
                                <td class="is-narrow">{{ event.title }}</td>
                                <td class="is-narrow">{{ event.date | date("d/m/Y") }}</td>
                                <td class="is-narrow">{{ event.date | date("H:i") }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>