{% extends "base.html.twig" %}

{% block title "Cahier des Charges" %}

{% block body %}
    <h1>Cahier des Charges</h1>

    <h2>Les normes</h2>

    {% include "misc/doc/1-normes.html.twig" %}

    <h2>Les fonctionnalités</h2>
{% endblock %}