<div class="modal" id="delete">
    <div class="modal-background"></div>

    <div class="modal-card">
        {% include "modals/delete_header.html.twig" %}

        <section class="modal-card-body">
            <p>Vous êtes sûr(e) de supprimer l'événement <strong id="deleteName"></strong> ?</p>
        </section>

        {% include "modals/delete_footer.html.twig" %}
    </div>
</div>