<div class="modal" id="modal">
    <div class="modal-background"></div>

    <div class="modal-card">
        {% include "modals/form_header.html.twig" %}

        <form action="#" method="post" id="modalForm">
            <input type="hidden" name="_token" id="modalToken" value="#" />

            <section class="modal-card-body">
                <div class="field">
                    <label for="title" class="label">Titre (*)</label>

                    <div class="control">
                        <input type="text" name="title" id="title" class="input" placeholder="Ex: RDV Client avec Jean Dupont" required />
                    </div>
                </div>

                <div class="field">
                    <label for="type" class="label">Type (*)</label>

                    <div class="control">
                    {% for choice in types %}
                        <label class="radio">
                            <input type="radio" name="type" id="{{ choice.id }}" value="{{ choice.value }}" required />
                            {{ choice.value }}
                        </label>
                    {% endfor %}
                    </div>
                </div>

                <div class="field">
                    <label for="date" class="label">Date & Heure (*)</label>

                    <div class="control">
                        <input type="datetime-local" name="date" id="date" class="input" required />
                    </div>
                </div>

                <div class="field">
                    <label for="description" class="label">Description</label>

                    <div class="control">
                        <textarea class="textarea" name="description" id="description" rows="5"></textarea>
                    </div>
                </div>
            </section>

            {% include "modals/form_footer.html.twig" %}
        </form>
    </div>
</div>