{% set path = "pages/users/" %}

{% extends 'forms/login_form.html.twig' %}

{% block login %}
<form action="{{ path('login') }}" class="box">
    <div class="field">
        <label for="email" class="label">Adresse e-mail</label>

        <div class="control has-icons-left">
            <input type="email" class="input" placeholder="e.g. rene.dupont@gmail.com" required />

            <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label for="password" class="label">Mot de passe</label>

        <div class="control has-icons-left">
            <input type="password" class="input" placeholder="*******" required />

            <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <button class="button is-success">Se connecter</button>
    </div>
</form>

<hr />

<div class="block">
    <a href="#register" token="{{ csrf_token('register') }}" onclick="register(this)">S'inscrire</a>
</div>

<div class="block">
    <a href="#reset">Mot de passe oublié ?</a>
</div>

{# Modals #}

{% include path ~ "register.html.twig" %}

{% endblock %}
