{% extends 'modals/reset_modal.html.twig' %}

{% block modal %}
<div class="field">
    <label for="reset-email" class="label">Adresse e-mail (*)</label>

    <div class="control has-icons-left">
        <input type="email" name="reset-email" id="reset-email" class="input" placeholder="e.g. rene.dupont@gmail.com" required />

        <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
        </span>
    </div>
</div>
{% endblock %}
