<div class="modal" id="policy" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Politique de Confidentialité</h5>
                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio placeat velit alias veritatis voluptatem libero ea dolor, natus eius. Cum, eligendi? Architecto possimus quasi, dignissimos odit eius harum consequuntur voluptas velit dolorem laudantium, facere aliquam, perspiciatis saepe neque obcaecati aspernatur nobis impedit? Nisi minus iure, ipsam dicta quae sit itaque.</p>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam fugiat rerum sequi a, optio libero sed quasi totam autem accusamus fuga ullam! Ex quod at consequatur, similique eligendi, temporibus veritatis, quis ipsa expedita illo quaerat nobis ut officia laudantium officiis magni asperiores? Architecto, molestiae! Aperiam nulla asperiores maxime dignissimos sunt!</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim in, id dignissimos sed porro reprehenderit. Esse culpa iure officiis, ut, atque laboriosam porro sapiente nobis ea fugiat, veritatis vitae. Reiciendis, minima, eos illo cumque laudantium amet alias nobis veniam nostrum maxime facere nesciunt id rerum, optio totam repudiandae magni at.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>